nav{display: flex;
justify-content: space-between;
align-items: center;
margin: o 200px;
}
.section-title{color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color: #757575;
text-align: center;
font: size 18PX; ;
}

body{font-family: 'Open Sans', sans-serif;}
.nav-tittel{color: #181818;
    font-size: 45px;}
    .text-primary{color:#FD6E0A}
    .btn-primary{background: #FD6E0A;
color:white;
font-size: 20px;
font-weight: 700;
        border: 0;
padding: 15px 35px;
    border-radius: 5px;}
nav > ul{display: flex;
align-items: center;
}
nav > ul >li {
list-style: none;
margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.headere{background: color #fff8f3; ;
background-image: url('../images/header_bg.png');background-repeat: no-repeat;background-position: bottom right;
}
.banner{
    padding:30PX 30px 0px 150PX;
    display: flex;
align-items: center;
}
.banner .profile{
    width: 500px;
    color: #474747;
}
.banner-greeting{
    font-size: 45px;
margin-bottom: 0;
}
    .banner-titel{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin
}
.about{padding: 130px;
    border-radius: 10px;
    background:#fff8f3;
    margin:130px 0;
}


