nav{display: flex;
justify-content: space-between;
align-items: center;
}
body{font-family: 'Open Sans', sans-serif;}
.nav-tittel{color: #181818;
    font-size: 45px;}
    .text-primary{color:#FD6E0A}
    .btn-primary{background: #FD6E0A;
color:white;
font-size: 20px;
font-weight: 700;
        border: 0;
padding: 15px 35px;
    border-radius: 5px;}
nav > ul{display: flex;
align-items: center;
}
nav > ul >li {
list-style: none;
margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}