nav{display: flex;
justify-content: space-between;
align-items: center;
margin: o 200px;
}
.section-title{color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color: #757575;
text-align: center;
font: size 18PX; ;
}

body{font-family: 'Open Sans', sans-serif;}
.nav-tittel{color: #181818;
    font-size: 45px;}
    .text-primary{color:#FD6E0A}
    .btn-primary{background: #FD6E0A;
color:white;
font-size: 20px;
font-weight: 700;
        border: 0;
padding: 15px 35px;
    border-radius: 5px;}
nav > ul{display: flex;
align-items: center;
}
nav > ul >li {
list-style: none;
margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.headere{background: color #fff8f3; ;
background-image: url('../images/header_bg.png'),url("../images/developer.png");background-repeat: no-repeat;background-position: bottom right,top left   ;
}
.banner{
    padding:30PX 30px 0px 150PX;
    display: flex;
align-items: center;
}
.banner .profile{
    width: 500px;
    color: #474747;
}
.banner-greeting{
    font-size: 45px;
margin-bottom: 0;
}
    .banner-titel{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin
}
.about{padding: 130px;
    border-radius: 10px;
    background:#fff8f3;
    margin:130px 0;
}
main{width: 1140px;
margin: 0 auto;
}
main section{margin-top:130px ;}

 .about-info-container{display: flex;
justify-content: space-around;
}
.about-info{text-align: center;}
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{display: flex;
    gap: 24px;
}
.skill{padding: 30px;
border-radius: 5px;
background: #fff;
box-shadow: 0px 6px 50px 0px rgba(236, 9, 9, 0.06);
}

.skill-description{
color: #757575;
}
.resume-coloumn-titel{
color: #474747;
font-size: 30px;
font-weight: 700;
margin-bottom: 10px;
}
.resume-container{display: flex;
gap: 50px;
}
.resume-title-institute{margin-bottom: 20px;margin-top: 0;}

.resume-title-institute, .resume-item-description{color:#757575;} 
.resume-item-title{
font-size: 25px;
color: #474747;
font-weight: 700;
}
.resume-container hr{margin: 30px;}
.download-cv{text-align: center;
margin-top: 50px;}
footer{display: flex;
background-color:#fff8f3 ;
padding: 130px 200px;
margin-top: 100px;
gap: 100px;
}
.footer-coloumn{width: 50%;}
.contact input[type="text"], .contact input[type="email"],
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
color: #757575;
background-color: #fff;
border: 0;
border-radius: 5px;
width: 100%;
}
.social-links a{
    margin-right: 25px;
}

